{% extends 'base.html.twig' %}
{% block title %} Forgot password {% endblock %}
{% block body %}
<div class="mx-auto col-sm-4"> 
<div class="block-small">
{% for message in app.flashes('notice') %} 
<div class="alert alert-info">
{{message}}
</div>
{% endfor %}
<form method="post">
<h1 class="h3 mb-3 font-weight-normal">Reset your password</h1> 
<label for="inputEmail">Adress mail</label>
<input type="email" name="email" id="inputEmail" placeholder="Your adress 
mail" class="form-control mb-3" required autofocus>
<button class="btn btn-lg btn-info btn-block mt-3" type="submit">
Validate
</button>
<hr>
<p>Would you like <a href="{{ path('login') }}">to connect ?</a></p>
</form>
</div>
</div>
{% endblock %}
